/*-- Piano Keys Styling Start Here --*/
.piano-btns {
  display: flex;
  margin-top: 40px;
}
.piano-btns .btn {
  position: relative;
  cursor: pointer;
  user-select: none;
  list-style: none;
  color: #a2a2a2;
  text-transform: uppercase;
}
.piano-btns .white {
  margin: 0 2px;
  width: 70px;
  height: 230px;
  border-radius: 8px;
  background: linear-gradient(#fff 96%, #eee 4%);
}

.activeWhite {
  box-shadow: inset -5px 5px 20px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, #fff 100%, #eee 100%);
}
/* .piano-btns .white:active {
  box-shadow: inset -5px 5px 20px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
} */
.piano-btns .black {
  width: 44px;
  height: 140px;
  z-index: 2;
  margin: 0 -22px 0 -22px;
  border-radius: 0 0 5px 5px;
  background: linear-gradient(#333, #000);
}

.activeBlack {
  box-shadow: inset -5px 5px 10px rgba(255, 255, 255, 0.1);
  background: linear-gradient(to bottom, #000, #434343);
}
/* .piano-btns .black:active {
  box-shadow: inset -5px 5px 10px rgba(255, 255, 255, 0.1);
  background: linear-gradient(to bottom, #000, #434343);
} */

.piano-btns span {
  position: absolute;
  bottom: 20px;
  width: 100%;
  font-size: 1.13rem;
  text-align: center;
}
